{
  "openapi": "3.0.0",
  "info": {
    "title": "NimbleBrain API",
    "version": "1.0.0",
    "description": "API specification for NimbleBrain"
  },
  "servers": [
    {
      "url": "https://api.nimblebrain.ai/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001/v1",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter the agent access token (JWT)"
      }
    },
    "schemas": {
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "integer",
            "minimum": 400,
            "maximum": 599
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "code",
          "message",
          "timestamp"
        ]
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "UNAUTHORIZED",
          "INVALID_CREDENTIALS",
          "TOKEN_EXPIRED",
          "FORBIDDEN",
          "INSUFFICIENT_PERMISSIONS",
          "NOT_FOUND",
          "ALREADY_EXISTS",
          "CONFLICT",
          "VALIDATION_ERROR",
          "INVALID_INPUT",
          "MISSING_REQUIRED_FIELD",
          "INVALID_FORMAT",
          "RATE_LIMIT_EXCEEDED",
          "QUOTA_EXCEEDED",
          "INTERNAL_ERROR",
          "SERVICE_UNAVAILABLE",
          "DATABASE_ERROR",
          "EXTERNAL_SERVICE_ERROR",
          "DATA_CORRUPTION",
          "INCONSISTENT_STATE",
          "BAD_REQUEST",
          "UNEXPECTED_ERROR"
        ]
      },
      "PaginationQuery": {
        "type": "object",
        "properties": {
          "page": {
            "type": "string",
            "default": "1"
          },
          "limit": {
            "type": "string",
            "default": "10"
          }
        },
        "required": [
          "page",
          "limit"
        ]
      },
      "AgentParams": {
        "type": "object",
        "properties": {
          "agentUuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "agentUuid"
        ]
      },
      "ConversationParams": {
        "type": "object",
        "properties": {
          "conversationUuid": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "conversationUuid"
        ]
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title"
        ]
      },
      "PaginatedAgents": {
        "type": "object",
        "nullable": true,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          },
          "page": {
            "type": "string",
            "default": "1"
          },
          "limit": {
            "type": "string",
            "default": "10"
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "items",
          "page",
          "limit",
          "total"
        ]
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "isSystem": {
            "type": "boolean"
          },
          "text": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "isSystem",
          "text",
          "dateCreated"
        ]
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string"
          },
          "dateUpdated": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        },
        "required": [
          "id",
          "title",
          "dateCreated",
          "dateUpdated"
        ]
      },
      "PaginatedConversations": {
        "type": "object",
        "nullable": true,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conversation"
            }
          },
          "page": {
            "type": "string",
            "default": "1"
          },
          "limit": {
            "type": "string",
            "default": "10"
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "items",
          "page",
          "limit",
          "total"
        ]
      },
      "CreateConversation": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        },
        "required": [
          "text"
        ]
      },
      "PaginatedMessages": {
        "type": "object",
        "nullable": true,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "page": {
            "type": "string",
            "default": "1"
          },
          "limit": {
            "type": "string",
            "default": "10"
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "items",
          "page",
          "limit",
          "total"
        ]
      },
      "CreateMessage": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        },
        "required": [
          "text"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/agents": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List all agents",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaginationQuery/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaginationQuery/properties/limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaginatedAgents"
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "integer",
                          "minimum": 400,
                          "maximum": 599
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "VALIDATION_ERROR",
                            "INVALID_INPUT",
                            "MISSING_REQUIRED_FIELD",
                            "INVALID_FORMAT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "INVALID_CREDENTIALS",
                            "TOKEN_EXPIRED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            403
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "INSUFFICIENT_PERMISSIONS"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            404
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            429
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED",
                            "QUOTA_EXCEEDED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            500
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "INTERNAL_ERROR",
                            "DATABASE_ERROR",
                            "DATA_CORRUPTION",
                            "INCONSISTENT_STATE",
                            "UNEXPECTED_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            503
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "SERVICE_UNAVAILABLE",
                            "EXTERNAL_SERVICE_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentUuid}/conversations": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List agent conversations",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "agentUuid",
            "in": "path",
            "required": true,
            "description": "UUID of the agent",
            "schema": {
              "$ref": "#/components/schemas/AgentParams/properties/agentUuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaginationQuery/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaginationQuery/properties/limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaginatedConversations"
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "integer",
                          "minimum": 400,
                          "maximum": 599
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "VALIDATION_ERROR",
                            "INVALID_INPUT",
                            "MISSING_REQUIRED_FIELD",
                            "INVALID_FORMAT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "INVALID_CREDENTIALS",
                            "TOKEN_EXPIRED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            403
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "INSUFFICIENT_PERMISSIONS"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            404
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            429
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED",
                            "QUOTA_EXCEEDED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            500
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "INTERNAL_ERROR",
                            "DATABASE_ERROR",
                            "DATA_CORRUPTION",
                            "INCONSISTENT_STATE",
                            "UNEXPECTED_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            503
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "SERVICE_UNAVAILABLE",
                            "EXTERNAL_SERVICE_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a new conversation",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "agentUuid",
            "in": "path",
            "required": true,
            "description": "UUID of the agent",
            "schema": {
              "$ref": "#/components/schemas/AgentParams/properties/agentUuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "VALIDATION_ERROR",
                            "INVALID_INPUT",
                            "MISSING_REQUIRED_FIELD",
                            "INVALID_FORMAT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "INVALID_CREDENTIALS",
                            "TOKEN_EXPIRED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            403
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "INSUFFICIENT_PERMISSIONS"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            404
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            429
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED",
                            "QUOTA_EXCEEDED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            500
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "INTERNAL_ERROR",
                            "DATABASE_ERROR",
                            "DATA_CORRUPTION",
                            "INCONSISTENT_STATE",
                            "UNEXPECTED_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            503
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "SERVICE_UNAVAILABLE",
                            "EXTERNAL_SERVICE_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentUuid}/conversations/{conversationUuid}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Retrieves a conversation",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "agentUuid",
            "in": "path",
            "required": true,
            "description": "UUID of the agent",
            "schema": {
              "$ref": "#/components/schemas/AgentParams/properties/agentUuid"
            }
          },
          {
            "name": "conversationUuid",
            "in": "path",
            "required": true,
            "description": "UUID of the conversation",
            "schema": {
              "$ref": "#/components/schemas/ConversationParams/properties/conversationUuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaginationQuery/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaginationQuery/properties/limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "VALIDATION_ERROR",
                            "INVALID_INPUT",
                            "MISSING_REQUIRED_FIELD",
                            "INVALID_FORMAT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "INVALID_CREDENTIALS",
                            "TOKEN_EXPIRED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            403
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "INSUFFICIENT_PERMISSIONS"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            404
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            429
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED",
                            "QUOTA_EXCEEDED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            500
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "INTERNAL_ERROR",
                            "DATABASE_ERROR",
                            "DATA_CORRUPTION",
                            "INCONSISTENT_STATE",
                            "UNEXPECTED_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            503
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "SERVICE_UNAVAILABLE",
                            "EXTERNAL_SERVICE_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete a conversation",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "agentUuid",
            "in": "path",
            "required": true,
            "description": "UUID of the agent",
            "schema": {
              "$ref": "#/components/schemas/AgentParams/properties/agentUuid"
            }
          },
          {
            "name": "conversationUuid",
            "in": "path",
            "required": true,
            "description": "UUID of the conversation",
            "schema": {
              "$ref": "#/components/schemas/ConversationParams/properties/conversationUuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Conversation deleted successfully"
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "VALIDATION_ERROR",
                            "INVALID_INPUT",
                            "MISSING_REQUIRED_FIELD",
                            "INVALID_FORMAT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "INVALID_CREDENTIALS",
                            "TOKEN_EXPIRED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            403
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "INSUFFICIENT_PERMISSIONS"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            404
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            429
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "RATE_LIMIT_EXCEEDED",
                            "QUOTA_EXCEEDED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            500
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "INTERNAL_ERROR",
                            "DATABASE_ERROR",
                            "DATA_CORRUPTION",
                            "INCONSISTENT_STATE",
                            "UNEXPECTED_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            503
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "SERVICE_UNAVAILABLE",
                            "EXTERNAL_SERVICE_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentUuid}/conversations/{conversationUuid}/messages": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List conversation messages",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentUuid",
            "in": "path",
            "required": true,
            "description": "UUID of the agent",
            "schema": {
              "$ref": "#/components/schemas/AgentParams/properties/agentUuid"
            }
          },
          {
            "name": "conversationUuid",
            "in": "path",
            "required": true,
            "description": "UUID of the conversation",
            "schema": {
              "$ref": "#/components/schemas/ConversationParams/properties/conversationUuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaginationQuery/properties/page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PaginationQuery/properties/limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaginatedMessages"
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "integer",
                          "minimum": 400,
                          "maximum": 599
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            400
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "BAD_REQUEST",
                            "VALIDATION_ERROR",
                            "INVALID_INPUT",
                            "MISSING_REQUIRED_FIELD",
                            "INVALID_FORMAT"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            401
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "INVALID_CREDENTIALS",
                            "TOKEN_EXPIRED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            403
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "FORBIDDEN",
                            "INSUFFICIENT_PERMISSIONS"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "number",
                          "enum": [
                            404
                          ]
                        },
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {
                            "nullable": true
                          }
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "status",
                        "code",
                        "message",
                        "timestamp"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "error": {
[...]
